@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("./reset.css");
@import url("./variables.css");
@import url("./media_queries.css");

/* || General */

body {
  font-family: "Space Mono", monospace;
  background-color: var(--clr-grayishCyan);
  display: grid;
  place-items: center;
  gap: 1em;
}
.title {
  color: var(--clr-darkCyan);
  text-align: center;
  margin: 1.2em auto;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1ch;
  word-wrap: break-word;
  width: 120px;
}

.card {
  background-color: var(--clr-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 1em;
  margin-block-start: 1em;
}

/* || calculation */
.calculation {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;

  .form {
    color: var(--clr-darkgrayishCyan);
    font-weight: var(--fw-700);
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    
    .icon {
      position: absolute;
      top: 12.5%;
      left: 5%;
    }

    & input {
      padding-bottom: 0.7em;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: var(--clr-lightCyan);
      color: var(--clr-darkCyan);
      font-weight: var(--fw-700);
     
    }
    .bill {
      text-indent: 80%;
    }
  }
  & P {
    text-transform: capitalize;
    color: var(--clr-darkgrayishCyan);
    font-weight: var(--fw-700);
  }

  .percentage {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    place-items: center;

    & p {
      background-color: var(--clr-darkCyan);
      color: var(--clr-white);
      text-align: center;
      width: 60%;
      border-radius: 5px;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
    & input {
      text-align: center;
      text-transform: capitalize;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: var(--clr-lightCyan);
      color: var(--clr-darkCyan);
      font-weight: var(--fw-700);
      width: 60%;
    }
  }
  #people {
    position: relative;
    text-align: end;
  }
  .people-icon {
    position: absolute;
    bottom: 3%;
    left: 5%;
   
  }
}

/* show */

.show {
  background-color: var(--clr-darkCyan);
  color: var(--clr-lightCyan);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 14px;
  margin-block-end: 1em;
  padding-block-end: 1.5em;

  .item {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-block-start: 2em;
    margin-inline: 0.5em;
    
  }
  .price {
    color: var(--clr-cyan);
    font-size: var(--fs-normal);
    font-weight: var(--fw-700);
  }

  .btn-reset {
    background-color: var(--clr-cyan);
    color: var(--clr-darkCyan);
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    width: 85%;
    padding-block: 0.2em;
    margin: 0.5em auto;
    border-radius: 5px;
  }
  
}